{% extends "base.html" %}
{% block scripts %}
{{ super() }}

<!-- Autocomplete buyers -->
<script>
    $(function () {
        $.ajax({
            url: '{{ url_for("autocomplete_buyer") }}'
        }).done(function (data) {
            $('#buyer').autocomplete({
                source: data,
                minLength: 2
            });
        });
    });
</script>

<!-- Autocomplete sellers -->
<script>
    $(function () {
        $.ajax({
            url: '{{ url_for("autocomplete_seller") }}'
        }).done(function (data) {
            $('#seller').autocomplete({
                source: data,
                minLength: 2
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="content-section">

    <!-- New Receipt -->
    <form method="POST" , action="{{ url_for('add_receipt') }}">
        {{ receipt_form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Receipt</legend>

            <!-- Buyer -->
            <div class="form-group">
                <label for=""></label>
                {{ receipt_form.buyer.label(class="form-control-label") }}
                <span class="asteriskField">*</span>

                {% if receipt_form.buyer.errors %}
                {{ receipt_form.buyer(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in receipt_form.buyer.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ receipt_form.buyer(class="form-control form-control-lg", autocomplete="off") }}
                {% endif %}
            </div>

            <!-- Seller -->
            <div class="form-group">
                {{ receipt_form.seller.label(class="form-control-label") }}
                <span class="asteriskField">*</span>

                {% if receipt_form.seller.errors %}
                {{ receipt_form.seller(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in receipt_form.seller.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ receipt_form.seller(class="form-control form-control-lg", autocomplete="off") }}
                {% endif %}
            </div>

            <!-- Date -->
            <div class="form-group">
                {{ receipt_form.date.label(class="form-control-label") }}
                <span class="asteriskField">*</span>

                {% if receipt_form.date.errors %}
                {{ receipt_form.date(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in receipt_form.date.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ receipt_form.date(class="form-control form-control-lg", autocomplete="off") }}
                {% endif %}
            </div>

            <!-- Total -->
            <div class="form-group">
                {{ receipt_form.total.label(class="form-control-label") }}
                <span class="asteriskField">*</span>

                {% if receipt_form.total.errors %}
                {{ receipt_form.total(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in receipt_form.total.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    {{ receipt_form.total(class="form-control form-control-lg", autocomplete="off") }}
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                {% endif %}
            </div>

            <!-- Description -->
            <div class="form-group">
                {{ receipt_form.description.label(class="form-control-label") }}

                {% if receipt_form.description.errors %}
                {{ receipt_form.description(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in receipt_form.description.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ receipt_form.description(class="form-control form-control-lg", autocomplete="off") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ receipt_form.submit(class="btn btn-outline-info")}}
        </div>
    </form>


    <!-- New Buyer -->
    <form method="POST" , action="{{ url_for('add_client') }}">
        {{ client_form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Buyer</legend>
            <div class="form-group">
                {{ client_form.client_name.label(class="form-control-label") }}
                <span class="asteriskField">*</span>

                {% if client_form.client_name.errors %}
                {{ client_form.client_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in client_form.client_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ client_form.client_name(class="form-control form-control-lg", autocomplete="off") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ client_form.submit(class="btn btn-outline-info")}}
        </div>
    </form>


    <!-- New Seller -->
    <form method="POST" action="{{ url_for('add_business') }}">
        {{ business_form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Seller</legend>
            <div class="form-group">
                {{ business_form.business_name.label(class="form-control-label") }}
                <span class="asteriskField">*</span>

                {% if business_form.business_name.errors %}
                {{ business_form.business_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in business_form.business_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ business_form.business_name(class="form-control form-control-lg", autocomplete="off") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ business_form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
</div>
{% endblock content %}